{% extends 'blog/base.html' %}
{% block title %}contact Me {% endblock %}
{% block content %}
<h1>Contact Me</h1>
<p>Wanna have a conversation?</p>
<a href="https://babacomputing.com">Visit my portfolio</a> 
<a href="https://twitter.com/ibnusmanedoz" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="https://facebook.com/ibnusmanedoz" class="facebook"><i class="fa fa-facebook"></i></a>
<a href="https://instagram.com/ibnusmanedoz" class="instagram"><i class="fa fa-instagram"></i></a>
{% endblock %}
